**{{upper guild.name }} Server Map**

{{#each categories as |category| }}
{{#if category.channels.length }}
__**{{ category.name }}**__
{{#each category.channels as |channel|}}
{{#if channel.nsfw}}⚠️ {{/if }}<#{{channel.id}}>{{#if channel.topic }} {{ channel.topic }}{{/if}}
{{/each }}

{{/if }}
{{/each }}